@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

@import '../utils/themes';

.error.dark {
  width: 100%;
  height: 100vh;
  background-color: $gray-60;
  color: $gray-5;

  button {
    color: $gray-5;
    border: 2px solid $red-50;

    &:hover {
      background-color: rgba($red-50, 0.5);
    }
  }
}

.error {
  font-family: "Cinzel Decorative";
  text-align: center;
  width: 70%;
  margin: -1rem auto;

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  h2 {
    margin: 1rem 0;
  }

  button {
    background-color: transparent;
    margin: 1rem 0;
    border: 2px solid $blue-50;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: rgba($blue-50, 0.5);
    }
  }

  h3 {
    margin: 1rem 0;
  }
}