// Gray Colors
$gray-5: #F9FAFB;
$gray-10: #F3F4F6;
$gray-20: #E5E7EB;
$gray-30: #D1D5DB;
$gray-40: #9CA3AF;
$gray-50: #6B7280;
$gray-60: #4B5563;
$gray-70: #374151;
$gray-80: #1F2937;
$gray-90: #111827;

// Red Colors
$red-5: #FEF2F2;
$red-10: #FEE2E2;
$red-20: #FECACA;
$red-30: #FCA5A5;
$red-40: #F87171;
$red-50: #EF4444;
$red-60: #DC2626;
$red-70: #B91C1C;
$red-80: #991B1B;
$red-90: #7F1D1D;

// Yellow Colors
$yellow-5: #FFFBEB;
$yellow-10: #FEF3C7;
$yellow-20: #FDE68A;
$yellow-30: #FCD34D;
$yellow-40: #FBBF24;
$yellow-50: #F59E0B;
$yellow-60: #D97706;
$yellow-70: #B45309;
$yellow-80: #92400E;
$yellow-90: #78350F;

// Green Colors
$green-5: #ECFDF5;
$green-10: #D1FAE5;
$green-20: #A7F3D0;
$green-30: #6EE7B7;
$green-40: #34D399;
$green-50: #10B981;
$green-60: #059669;
$green-70: #047857;
$green-80: #065F46;
$green-90: #064E3B;

// Blue Colors
$blue-5: #EFF6FF;
$blue-10: #DBEAFE;
$blue-20: #BFDBFE;
$blue-30: #93C5FD;
$blue-40: #60A5FA;
$blue-50: #3B82F6;
$blue-60: #2563EB;
$blue-70: #1D4ED8;
$blue-80: #1E40AF;
$blue-90: #1E3A8A;


// Gray Colors
$gray-5-op: #F9FAFBc0;
$gray-10-op: #f3f4f6c0;
$gray-20-op: #e5e7ebc0;
$gray-30-op: #D1D5DBc0;
$gray-40-op: #9CA3AFc0;
$gray-50-op: #6B7280c0;
$gray-60-op: #4B5563c0;
$gray-70-op: #374151c0;
$gray-80-op: #1F2937c0;
$gray-90-op: #111827c0;

// Red Colors
$red-5-op: #FEF2F2c0;
$red-10-op: #FEE2E2c0;
$red-20-op: #FECACAc0;
$red-30-op: #FCA5A5c0;
$red-40-op: #F87171c0;
$red-50-op: #EF4444c0;
$red-60-op: #DC2626c0;
$red-70-op: #B91C1Cc0;
$red-80-op: #991B1Bc0;
$red-90-op: #7F1D1Dc0;

// Yellow Colors
$yellow-5-op: #FFFBEBc0;
$yellow-10-op: #FEF3C7c0;
$yellow-20-op: #FDE68Ac0;
$yellow-30-op: #FCD34Dc0;
$yellow-40-op: #FBBF24c0;
$yellow-50-op: #F59E0Bc0;
$yellow-60-op: #D97706c0;
$yellow-70-op: #B45309c0;
$yellow-80-op: #92400Ec0;
$yellow-90-op: #78350Fc0;

// Green Colors
$green-5-op: #ECFDF5c0;
$green-10-op: #D1FAE5c0;
$green-20-op: #A7F3D0c0;
$green-30-op: #6EE7B7c0;
$green-40-op: #34D399c0;
$green-50-op: #10B981c0;
$green-60-op: #059669c0;
$green-70-op: #047857c0;
$green-80-op: #065F46c0;
$green-90-op: #064E3Bc0;

// Blue Colors
$blue-5-op: #EFF6FFc0;
$blue-10-op: #DBEAFEc0;
$blue-20-op: #BFDBFEc0;
$blue-30-op: #93C5FDc0;
$blue-40-op: #60A5FAc0;
$blue-50-op: #3B82F6c0;
$blue-60-op: #2563EBc0;
$blue-70-op: #1D4ED8c0;
$blue-80-op: #1E40AFc0;
$blue-90-op: #1E3A8Ac0;